@import '../variables';

.channel-list-panel {
  background-color: $tone-medium;
  padding: 20px;
  color: $tone-darkest;
  width: 200px;
  h3 {
    margin-bottom: 20px;
  }
  p {
    color: $tone-dark;
    &:hover {
      cursor: pointer;
    }
  }
}

.channel-list .selected {
  font-weight: bold;
  color: $tone-darkest;
}
