@import '../variables';

.channel-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.channel-title {
  display: flex;
  align-items: center;
  h3 {

    color: $tone-darkest;
  }

}

.message {
  margin-bottom: 10px;
  h3 {
    margin-right: 6px;
    margin-bottom: 0;
    margin-top: 0;

  }
  p {
    margin: 0;
  }
  .message-header {
    display: flex;
    min-width: 350px;
  }
}


.message-form {
  display: flex;
  margin-top: auto;
  border-color: $tone-medium;
  input {
    margin-right: 6px;
    &:focus {
      box-shadow: none;
      border-color: $tone-darkest;
    }
  }
}

hr {
  border-top: 1px solid $tone-darkest;
  margin: 20px 0px;
}
