@import '../variables';

.channel-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.channel-title {
  display: flex;
  align-items: center;
  h3 {
    margin-right: 6px;
    color: $tone-darkest;
  }

}

.message {
  margin-bottom: 10px;
  p, h3 {
    padding: 0;
    margin: 0;
  }
  .message-header {
    display: flex;
  }
}


.message-form {
  display: flex;
  margin-top: auto;
}

hr {
  border-top: 1px solid $tone-darkest;
  margin: 20px 0px;
}
